{% extends "base.html" %}

{% block content %}

<div class="section">
    <!-- Display Items -->
    <div class="row columns is-multiline is-mobile">
      {% if user.is_authenticated %}
      <div class="column is-one-third is-mobile">
        <div class="card large round">
          <div class="card-image ">
            <figure class="image">
                <img src="https://images.unsplash.com/photo-1541529086526-db283c563270?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80" alt="Image">
            </figure>
        </div>
          <div class="card-content">
          <form action="/" method="post">
            {% csrf_token %}
            
            <div class="field">
              <label class="label">Item Description</label>
              <div class="control">
                <input class="input" type="text" placeholder="Blueberries" name="item_name", id="id_item_name">
              </div>
            </div>
            <div class="field">
              <label class="label">Comment</label>
              <div class="control">
                <input class="input" type="text" placeholder="Bought it Friday" name="comment", id="id_comment">
              </div>
            </div>
            <div class="field">
              <label class="label">Expiration Date</label>
              <div class="control">
                <input class="input" type="text" placeholder="Next Week" name="exp_date", id="id_exp_date">
              </div>
            </div>
            <input type="submit" value="Add Item" class="button is-light">
          </form>
          </div>
        </div>
        </div>
        {% endif %}
        {% for item in items %}
        <div class="column is-one-third is-mobile">
            <div class="card large round">
                <div class="card-image ">
                    <figure class="image">
                        <img src="https://images.unsplash.com/photo-1509440159596-0249088772ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-96x96">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample5.jpg" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4 no-padding">{{item.item_name}}</p>
                            <p><span class="title is-6"><a href="{{url1}}">{{item.owner}}</a></span></p>
                            <p class="subtitle is-6">{{item.owner}}</p>
                        </div>
                    </div>
                    <div class="content">
                        <p>Date Added: {{ item.ts_added|date:"M d" }}  {{ item.ts_added|time:"h:i" }}</p>
                        {% if item.exp_date %}
                        <p>Expiration Date: {{item.exp_date}}</p>
                        {% endif %}
                        {% if item.comment %}
                        <p>Notes: {{item.comment}}</p>
                        {% endif %}
                        <input type="submit" value="Delete" class="button is-light">
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div> <font color="lemonchiffon"> No items to display, log in to add items!</font></div>
        {% endfor %}
    </div>
</div>
{% endblock %}


