{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<div class="section">
  <div class="columns is-cetered ">
  <div class="column is-half">
  <div class="card medium round">
    <div class="card-content">
    <form action="/" method="post">
      {% csrf_token %}
      
      <div class="field">
        <label class="label">Item Description</label>
        <div class="control">
          <input class="input" type="text" placeholder="Ice Cream" name="item_name", id="id_item_name">
        </div>
        <p class="help">Required</p>
      </div>
      <div class="field">
        <label class="label">Comment</label>
        <div class="control">
          <input class="input" type="text" placeholder="Bought it Friday" name="comment", id="id_comment">
        </div>
        <p class="help">Optional</p>
      </div>
      <div class="field">
        <label class="label">Expiration Date</label>
        <div class="control">
          <input class="input" type="text" placeholder="Next Week" name="exp_date", id="id_exp_date">
        </div>
        <p class="help">Optional</p>
      </div>

      <!-- {{ form.item_name }}
      {{ form.comment }}
      <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
        {{ form.exp_date }}
        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
      </div>
      <script>
        $(function () {
          $("#datetimepicker1").datetimepicker({
            format: 'DD/MM/YYYY HH:mm',
          });
        });
      </script> -->


      <input type="submit" value="Add Item" class="button is-light">
    </form>
    </div>
  </div>
</div>
</div>
</div>
{% endif %}
<div class="section">
    <!-- Display Items -->
    <div class="row columns is-multiline is-mobile">
        <div class="card medium round">
          <div class="card-content">
          <form action="/" method="post">
            {% csrf_token %}
            
            <div class="field">
              <label class="label">Item Description</label>
              <div class="control">
                <input class="input" type="text" placeholder="Ice Cream" name="item_name", id="id_item_name">
              </div>
              <p class="help">Required</p>
            </div>
            <div class="field">
              <label class="label">Comment</label>
              <div class="control">
                <input class="input" type="text" placeholder="Bought it Friday" name="comment", id="id_comment">
              </div>
              <p class="help">Optional</p>
            </div>
            <div class="field">
              <label class="label">Expiration Date</label>
              <div class="control">
                <input class="input" type="text" placeholder="Next Week" name="exp_date", id="id_exp_date">
              </div>
              <p class="help">Optional</p>
            </div>
      
            <!-- {{ form.item_name }}
            {{ form.comment }}
            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
              {{ form.exp_date }}
              <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
              </div>
            </div>
            <script>
              $(function () {
                $("#datetimepicker1").datetimepicker({
                  format: 'DD/MM/YYYY HH:mm',
                });
              });
            </script> -->
      
      
            <input type="submit" value="Add Item" class="button is-light">
          </form>
          </div>
        </div>
        {% for item in items %}
        <div class="column is-one-third is-mobile">
            <div class="card medium round">
                <div class="card-image ">
                    <figure class="image">
                        <img src="https://images.unsplash.com/photo-1509440159596-0249088772ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80" alt="Image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-96x96">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample5.jpg" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4 no-padding">{{item.item_name}}</p>
                            <p><span class="title is-6"><a href="{{url1}}">{{user.get_username}}</a></span></p>
                            <p class="subtitle is-6">{{user.get_username}}</p>
                        </div>
                    </div>
                    <div class="content">
                        <p>Date Added: {{item.ts_added}}</p>
                        <p>Expiration Date: {{item.exp_date}}</p>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div>No items to display, log in to add items!</div>
        {% endfor %}
    </div>
</div>
{% endblock %}


