{% extends "base.html" %}

{% block content %}
  <style>
    p {
      color:lemonchiffon;
      }
    a:hover
      {color: #7cb4ca;}
  </style>
  <h2> <font color="lemonchiffon"> <strong></br>Login</strong> </font> </h2>
  
  {% if form.errors %}
    <p><font color="lemonchiffon">Your username and password didn't match. Please try again.</font></p>
  {% endif %}
    
  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to view items.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <font color="lemonchiffon">
    <table>
      <tr>
        <td>{{ form.username.label_tag }} </td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }} </td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    </font>
    <p></br></p>
    <input type="submit" value="Login" class="button is-light"/>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  <p><a href="{% url 'signup' %}">Create an account</a></p>
{% endblock %}