{% extends "base.html" %}

{% block content %}
  <h2><font color:"lemonchiffon"><strong>Sign Up</strong></font></h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        <font color:"lemonchiffon">
        <p style="color:lemonchiffon">{{ field.label_tag }}<br></p>
        {{ field }}
        {% if field.help_text %}
          <small style="color: lemonchiffon"></small>{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </font>
      </p>
    {% endfor %}
    <button type="submit">Sign Up</button>
  </form>
{% endblock %}